<footer class="section footer-classic context-dark bg-image" style="background:#1a1a1a; ">
  <div class="container">
    <div class="row row-30">
      <div class="col-lg-4">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="/src/logo/avatar.png" alt="" width="140" height="37"></a>
          <p>Grâce à son expertise, BFI a réussi à se forger une réputation de très haut niveau sur le marché africain, en équipant plus de 200 clients dans 25 pays différents</p>
          <!-- Rights-->
          <p class="rights"><span>©</span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-lg-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>djerba houmt souk</dd>
        </dl>
        <dl class="contact-list">
            <dt>Tél:</dt>
            <dd>+216 71 962 030</dd>
          </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">contact@bfigroupe.com</a></dd>
        </dl>

      </div>
      <div class="col-lg-4">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="http://www.bfigroupe.com/qui-sommes-nous/">About</a></li>
          <li><a href="http://www.bfigroupe.com/carthago/">Projects</a></li>
          <li><a href="http://www.bfigroupe.com/contact/">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
