<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="/src/logo/avatar.png" height="30" alt="Bfi logo">
          </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="">Qui sommes-nous</a></li>
      <li><a routerLink="">Carthago</a></li>
      <li><a routerLink="">Notre expertise</a></li>
      <li><a routerLink="">Service client</a></li>
      <li><a routerLink="">References</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestion des stagiaire
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a routerLink="/AjoutStagiaire">formulaire de Satge</a></li>
          <li><a routerLink="/DemandeSatge">List des Demandes</a></li>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

